.content {
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    padding: 0 16px;
}


/* .page-title */

.content .content-head {
    padding: 16px 16px 16px 0;
}

.content .content-head .title {
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 190px;
    white-space: nowrap;
}

.content .content-feature {
    text-align: end;
}

.content .content-feature button {
    border: none;
    background-color: #019160;
    color: white;
    padding: 6px 16px;
    border-radius: 5px;
    font-weight: 500;
}

.content .content-feature button:hover {
    background-color: #2FBE8E;
}


/* filter */


/* find employee */

.content .filter-bar .findid {
    width: 100%;
    border: solid 2px #e5e5e5;
    border-radius: 5px;
    display: inline-flex;
    align-items: baseline;
}

.content .filter-bar .findid input {
    width: calc(100% - 25px);
    border: none;
    height: 34px;
}

.content .filter-bar select {
    width: 100%;
    border: solid 2px #e5e5e5;
    border-radius: 5px;
    padding: 7.6px;
}

.content .filter-bar .findid input:focus {
    outline: none;
}

.content .filter-bar select:focus {
    outline: none;
}

.content .filter-bar {
    padding: 0 15px;
}


/* reload */

.content .filter-bar .reload {
    text-align: end;
}

.content .filter-bar .reload i {
    vertical-align: -webkit-baseline-middle;
    border: solid 2px #e5e5e5;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
}


/* grid */

.content .grid {
    width: 100%;
    height: calc(100% - 158px);
}


/* paging */

.content .paging-bar {
    width: 100%;
    height: 56px;
    display: inline-flex;
    align-items: center;
    border-top: 2px solid #bbbbbb;
    padding-left: 16px;
}

.content .paging-bar .amount-employee {
    position: absolute;
    left: calc(100% - 139px);
}